include ../mixins/_include

// begin work main page

section.m-work
	.container

		h2.section-title Work

		.m-work-icons
			.m-work-icon
				+icon('marker', 'icon-marker--mod')
				.title Prototyping 
			.m-work-icon.icon-design
				+icon('layers', 'icon-layers--mod')
				.title Design
			.m-work-icon
				+icon('code', 'icon-code--mod')
				.title Development 

		.m-work-list

			- var logos = ['svg/qlothes-cover.svg', 'svg/montessori-cover.svg', 'png/danceworld-cover.png', 'png/cmsmagazine-cover.png', 'svg/sab-cover.svg', 'png/chikkipizza-cover.png']
			- var coverColor = ['#d5ece1', '#c27871', '#f66b8f', '#e4e5e6', '#d0ba93', '#e3975a']
			- var projName = ['Qlothes','Montessori', 'DanceWorld', 'cmsmagazine', 'SAB', 'ChikkiPizza']
			- var logosSize = ['35', '45', '40', '55', '35', '30']
			- var i = 0;
			while (i++ < 6)

				a(href="#link").m-work-item(style='background-image: url(assets/img/#{logos[i-1]}); background-color: #{coverColor[i-1]}; background-size: #{logosSize[i-1]}%;')
					.item-meta
						.title #{projName[i-1]}
						.descr #code
					.cover(style='background-color: #{coverColor[i-1]}')

		.m-work-btn-wrap
			+btn('/projects/', 'View Projects')





// end work main page